body {
    background-image: url(1671753712_kalix-club-p-cherno-zheltii-fon-dlya-prezentatsii-insta-6.png);
    background-repeat: no-repeat;
    }


.div0 {
    position: relative;
      }

.div0 .div1 {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 30px;
    right: 0;
    top: 340px; 
    text-align: center;
    width: 100%; 
    color: #935F1D; 
    font-style: italic;
    font-variant: small-caps;
    }

.div0 h1 {
    color: #E7AD11;
    position:absolute;
	left:650px;
	top:30px;
    font-style: italic;
    font-variant: small-caps;
}

.img0 {
    border-radius: 10px;
    position:absolute;
	left:500px;
	top:130px;
    border: 5px #10e910;
     }

.img1 {
    border-radius: 10px;
    position:absolute;
	left:80px;
	top:50px;
     }

.img2 {
    border-radius: 10px;
    position:absolute;
	left:1250px;
	top:130px;
}    

.img3 {
    border-radius: 10px;
    position:absolute;
	left:1350px;
	top:550px;
}    

.img4 {
    border-radius: 10px;
    position:absolute;
	left:200px;
	top:550px;
}    

   .img1:hover {
    outline: 5px solid #040404;
   }

   .img2:hover {
    outline: 5px solid #040404;
   }

   .img3:hover {
    outline: 5px solid #040404;
   }

   .img4:hover {
    outline: 5px solid #040404;
   }

   .img0:hover {
    outline: 5px solid #040404;
   }


   @media (max-width: 760px) {
    
    body {
        background-image: url(1627005664_33-kartinkin-com-p-milii-fon-s-serdechkami-krasivo-33.jpg);
        
    }

    .div0 .div1 {
      font-size: 20px;
      width:      600px;
      height:     30px;
      text-align: center;
      margin-left: -140px;
      margin-top: -110px;
      color: #881b1b;
         }
  
    .img0 {
        display: none;
    }
    .img1 {
        display: none;
    }

    .img2 {
        display: none;
    }

    .img3 {
        display: none;
    }

    .img4 {
        display: none;
    }

    h1 {
        display: none; 
    }

    audio {
    margin-top: 700px;
    margin-left: 35px;
          
    }

    }


   @media (min-width: 760px) {
    
  audio {
    display: none; 
  }

   }
